<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <meta name="description" content="Get the latest <%= longName %> (<%= ticker %>) analysis, historical charts, and other financial data to help you make savvier investment and trading decisions on the VFEX.">
  <meta name="keywords" content="manoti, <%= shortName %>, <%= longName %>, vfex, victoria falls stock exchange, zimbabwe stocks, zimbabwe shares, <%= shortName %> share price, <%= shortName %> analysis, buy <%= shortName %> shares, <%= shortName %> vfex, <%= shortName %> victoria falls stock exchange">
  <link rel="stylesheet" href="/stylesheets/data/vfex/equities/style.css">
  <title><%= ticker %> - <%= longName %> Analysis | Manoti</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div id="container">
      <div id="company-name">
        <img src="/img/<%= ticker %>.webp" alt="<%= shortName %> company logo">
        <div id="name-ticker-price">
          <p class="name"><%= longName %></p>
          <p class="ticker"><%= ticker %></p>
        <% if (priceChange > 0) { %>
          <p class="price-change positive_price-change"><%= priceChange %> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-up"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg></span> <%= pricePercentageChange %></p>
        <% } else if (priceChange < 0) { %>
          <p class="price-change negative_price-change"><%= priceChange %> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-down"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg></span> <%= pricePercentageChange %></p>
        <% } else { %>
          <p class="price-change no_price-change"><%= priceChange %> <span>/</span> <%= pricePercentageChange %></p>
        <% } %>
          <p class="sector__heading-text">sector</p>
          <div class="sectors-container">
        <% sector.forEach( d => { %>
            <p><%= d %></p>
        <% }) %>
          </div>
        </div>
      </div>

      <div id="overview-container">
        <p id="overview-heading">Overview</p>
        <div id="company-details">
          <div id="company-description">
            <p>Description</p>
            <p><%= description %></p>
          </div>
  
          <div id="maket-cap">
            <p>Market Cap</p>
            <p><%= marketCap %></p>
          </div>

          <div id="avg-turnover">
            <p>avg. turnover - 90 day</p>
            <p><%= averageTurnover90Day %></p>
          </div>

          <div id="ebitda">
            <p>EBITDA</p>
            <p><%= ebitda %></p>
          </div>

          <div id="company-shares-in=issue">
            <p>Shares in issue</p>
            <p><%= sharesIssued %></p>
          </div>
    
          <div id="company-board-size">
            <p>Board size</p>
            <p><%= boardSize %></p>
          </div>
    
          <div id="company-employees">
            <p>No. of employees</p>
            <p><%= employees ?? '---' %></p>
          </div>
          
          <div id="company-founded">
            <p>Founded</p>
            <p><%= founded %></p>
          </div>
      
          <div id="company-ceo">
            <p>CEO</p>
            <p><%= ceo %></p>
          </div>
    
          <div id="company-year-end">
            <p>Financial year end</p>
            <p><%= yearEnd %></p>
          </div>
        
          <div id="company-lsiting-date">
            <p>Date of listing</p>
            <p><%= listingDate %></p>
          </div>
  
          <div id="company-auditors">
            <p>External auditors</p>
            <p><%= auditors %></p>
          </div>
    
          <div id="company-website">
            <p>Website</p>
            <a href="http://<%= website %>" target="_blank"><%= website %></a>
          </div>
            
          <div id="address">
            <p>Address</p>
            <p><%= address %></p>
          </div>

          <div id="daily-returns-chart">
            <p>daily price return - 90 day</p>
            <p><%=  %></p>
          </div>

          <div id="trade-volume-chart">
            <p>trade volume - 90 day</p>
            <p><%=  %></p>
          </div>
        </div>
      </div>

      <div id="income-statement">
        <p id="income-statement-heading">Income Statement Summary</p>
        <tbody></tbody>
      </div>

      <div id="charts-1">
        <div id="box-plot"></div>
        <div id="bar-chart"></div>
      </div>


    </div>
  </main>
  <%- include('partials/footer') %>
  <script src="/js/data/vfex/equities/script.js"></script>
</body>
</html>