<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <meta name="description" content="Get the latest <%= longName %> (<%= ticker %>) analysis, historical charts, and other financial data to help you make savvier investment and trading decisions on the VFEX.">
  <meta name="keywords" content="manoti, <%= shortName %>, <%= longName %>, vfex, victoria falls stock exchange, zimbabwe stocks, zimbabwe shares, <%= shortName %> share price, <%= shortName %> analysis, buy <%= shortName %> shares, <%= shortName %> vfex, <%= shortName %> victoria falls stock exchange">
  <link rel="stylesheet" href="/stylesheets/data/vfex/equities/style.css">
  <title><%= ticker %> - <%= longName %> Analysis | Manoti</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <div id="container">
      <div id="company-name">
        <img src="/img/<%= ticker %>.webp" alt="<%= shortName %> company logo">
        <div id="name-ticker-price">
          <p class="name"><%= longName %></p>
          <p class="ticker"><%= ticker %></p>
          <p class="sector"><%= sector.replaceAll(',', ', ') %></p>
          <p class="price-change"></p>
        </div>
      </div>

      <div id="company-details">
        <div id="company-description">
          <p>Description</p>
          <p><%= description %></p>
        </div>

        <div id="company-shares-in=issue">
          <p>Shares in issue</p>
          <p><%= sharesIssued %></p>
        </div>
  
        <div id="company-board-size">
          <p>Board size</p>
          <p><%= boardSize %></p>
        </div>
  
        <div id="company-employees">
          <p>No. of employees</p>
          <p><%= employees ?? '---' %></p>
        </div>
        
        <div id="company-founded">
          <p>Founded</p>
          <p><%= founded %></p>
        </div>
    
        <div id="company-ceo">
          <p>CEO</p>
          <p><%= ceo %></p>
        </div>
  
        <div id="company-year-end">
          <p>Financial year end</p>
          <p><%= yearEnd %></p>
        </div>
      
        <div id="company-lsiting-date">
          <p>Date of listing</p>
          <p><%= listingDate %></p>
        </div>

        <div id="company-auditors">
          <p>External auditors</p>
          <p><%= auditors %></p>
        </div>
  
        <div id="company-website">
          <p>Website</p>
          <a href="http://<%= website %>" target="_blank"><%= website %></a>
        </div>
          
        <div id="address">
          <p>Address</p>
          <p><%= address %></p>
        </div>
  
      </div>

      <div id="charts-1">
        <div id="box-plot"></div>
        <div id="bar-chart"></div>
      </div>

      <div id="income-statement">
        <tbody></tbody>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>