<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Manoti">
  <meta name="description" content="Manoti provides you with free, up-to-date financial data & interactive charts on companies listed on the Victoria Falls Stock Exchange (VFEX) - empowering your investment strategies.">
  <meta name="keywords" content="manoti, vfex, victoria falls stock exchange, zimbabwe stocks, zimbabwe shares, vfex stock prices, victoria falls stock exchange share prices, zimbabwe stock market analysis, how to invest in victoria falls stock exchange, free stock charts zimbabwe, best vfex shares to buy, vfex direct, zse, zimbabwe stock exchange">
  <%- include('partials/head') %>
  <link rel="stylesheet" href="style.css">
  <title>Manoti: Free Stock Price, Market & Financial Data for the Victoria Falls Stock Exchange - VFEX</title>
</head>
<body>
  <%- include('partials/header') %>

  <section>
    <div>
      <p id="hero-text">
        The data you need for savvy investments on the Victoria Falls Stock Exchange (VFEX)
      </p>
    </div>
  </section>

  <aside>
    <div id="aside-container">
      <h4>VFEX Market Summary</h4>

      <div id="alsi">
        <p>All Share Index</p>
        <p><%= alsi.close %></p>
        <div <% if (alsi.priceChange > 0) { %> 
          class="daily-change-overview up" 
          <% } else if (alsi.priceChange < 0) { %> 
          class="daily-change-overview down"
          <% } else { %> 
          class="daily-change-overview no-change"
          <% } %> >
          <p class="price-change">
            <%= alsi.priceChange %>
          </p>
          <div class="text-divider">
            <% if (alsi.priceChange > 0) { %> 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-up"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg>
              <% } else if (alsi.priceChange < 0) { %> 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-down"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg>
              <% } else { %> 
              /
              <% } %> 
          </div>
          <p class="percentage-change">
            <%= alsi.percentageChange %>
          </p>
        </div>
      </div>
      
      <div id="total-turnover">
        <p>Turnover (50 day avg.)</p>
        <p><%= marketTurnover50dayAverage %></p>
      </div>

      <div id="market-cap">
        <p>Market cap</p>
        <p id="vfexMarketCap"><%= vfexMarketCap %></p>
        <div class="chart">
          <div class="tooltip__pie-chart">
            <p class="equity"></p>
            <p class="value"></p>
          </div>
          <%- pieChart %>
        </div>  
      </div>

      <div id="eod-change">
        <p>Equities 1 day price change</p>
        <div class="chart">
          <div class="tooltip__heat-map">
            <p class="name"></p>
            <p class="price-change"></p>
            <p class="heatmap-price"></p>
          </div>
          <%- heatMap %>
        </div>  
      </div>

      <div id="median-pe-ratio">
        <p>Median P/E ratio</p> 
        <p><%= medianPEratio %></p>
      </div>

      <div id="no-of-equities">
        <p>No. of listed companies</p>
        <p><%= numberOfListedEquities %></p>
      </div>
    </div>
  </aside>

  <main>
    <div id="date-currency-container">
      <p id="latest-date-update">
        last updated:<time datetime=<%= lastTradingDayDateFormattedReversed %> > <%= lastTradingDayDateFormatted %></time>
      </p>
      <p id="price-disclaimer">
        currency: USD
      </p>
    </div>
    <ul>
      <% equityData.forEach( item => {%>
        <li>
          <article class="carousel-grid-container">
            <button class="carousel__button carousel__button--left is-hidden">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 15" fill="none" stroke="#000020" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
            </button>

            <div class="carousel__track-grid-container">
              <div class="carousel__sub-grid carousel__sub-grid--1 current-slide">
                <div>
                  <p>
                    <%= item.name %>
                  </p>
                  <p>
                    <%= item.ticker %>
                  </p>
                </div>

                <div>
                  <p>
                    market cap
                  </p>
                  <p>
                    <%= item.marketCap %>
                  </p>
                </div>
    
                <div>
                  <p>
                    price - 1 day
                  </p>
                  <p>
                    <%= item.price %>
                  </p>
                  <!-- determining the class to apply to the text  -->
                  <!-- class will apply font color -->
                  <div <% if (item.priceChange > 0) { %> 
                    class="daily-change-overview up" 
                    <% } else if (item.priceChange < 0) { %> 
                    class="daily-change-overview down"
                    <% } else { %> 
                    class="daily-change-overview no-change"
                    <% } %> >
                    <p class="price-change">
                      <%= item.priceChange %>
                    </p>
                    <div class="text-divider">
                      <% if (item.priceChange > 0) { %> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-up"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg>
                        <% } else if (item.priceChange < 0) { %> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle lucide-down"><path d="M13.73 4a2 2 0 0 0-3.46 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"/></svg>
                        <% } else { %> 
                        /
                        <% } %> 
                    </div>
                    <p class="percentage-change">
                      <%= item.pricePercentageChange %>
                    </p>
                  </div>
                </div>

                <div class="chart">
                  <div class="tooltip">
                    <p class="price"></p>
                    <p class="date"></p>
                    <p>
                      volume: <span class="volume"></span>
                    </p>
                  </div>
    
                  <%- item.chart %>                  
    
                </div>  
              </div>

              <div class="carousel__sub-grid carousel__sub-grid--2 is-hidden">
                <h6 class="sub-grid__title">
                  <%= item.name %> Market Highlights
                </h6>
                <% (item.marketStatistics).forEach( d => {%>
                  <div class="sub-grid__metrics">
                    <p><%= d.metric %></p>
                    <p><%= d.value %></p>
                  </div>
                <% }) %>
              </div>

              <div class="carousel__sub-grid carousel__sub-grid--3 is-hidden">
                <h6 class="sub-grid__title">
                  <%= item.name %> 20<%= item.FY %> Financial Statements Summary
                </h6>
                <% (item.financialStatementSummary).forEach( d => {%>
                  <div class="sub-grid__metrics">
                    <p><%= d.metric %></p>
                    <p><%= d.value %></p>
                    <p><%= d.change %> YoY</p>
                  </div>
                <% }) %>
              </div>     
              </div>
            </div>

            <button class="carousel__button carousel__button--right">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 15" fill="none" stroke="#000020" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
            </button>

            <div class="carousel__nav">
              <button class="carousel__indicator carousel-icon-1 current-slide"></button>
              <button class="carousel__indicator carousel-icon-2"></button>
              <button class="carousel__indicator carousel-icon-3"></button>
            </div>
  
          </article>
        </li>
        </li>
      <% }) %>
    </ul>    
  </main>
  
  <%- include('partials/footer') %>
  
  <script src="lineChartFunctions.min.js"></script>
  <script src="tooltip/lineChart.js"></script>
  <script src="tooltip/pieChart.js"></script>
  <script src="tooltip/heatMap.js"></script>
  <script src="gridCarousel.js"></script>
  <script>
    const { bisector, extent, max, scaleLinear, scaleTime, pointer, select, isoParse, timeFormat } = v;

    tooltipFunction(<%-  JSON.stringify(equityData) %>)
    pieChart(<%- JSON.stringify(marketCapData) %>)
    heatMap(<%- JSON.stringify(heatMapData) %>)
  </script>
</body>
</html>
